swagger: '2.0'
info:
  version: 1.0.0
  title: jKool API
  description: jKool API
  termsOfService: 'https://www.jkoolcloud.com/company/terms-conditions/'
  contact:
    name: Charley Rich
    email: crich@jkoolcloud.com
    url: www.jkoolcloud.com
  license:
    name: jKool
    url: 'https://www.jkoolcloud.com/company/privacy-policy/'
host: 'data.jkoolcloud.com:6580'
basePath: /jKool
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /JKool_Service:
    post:
      description: Creates a event
      operationId: postData
      produces:
        - application/json
      responses:
        '200':
          description: jKool response
          schema:
            $ref: '#/definitions/event'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
definitions:
  event:
    required:
      - source-fqn
      - tracking-id
    properties:
      tracking-id:
        type: string
      corr-id:
        type: string
      exception:
        type: string
      resource:
        type: string
      wait-time-used:
        type: integer
        format: int32
      source:
        type: string
      source-fqn:
        type: string
      source-info:
        type: string
      source-url:
        type: string
      status:
        type: string
      severity:
        type: integer
        format: int32
      severity-no:
        type: string
      type:
        type: string
      type-no:
        type: integer
        format: int32
      pid:
        type: integer
        format: int32
      tid:
        type: integer
        format: int32
      comp-code:
        type: string
      comp-code-no:
        type: integer
        format: int32
      reason-code:
        type: integer
        format: int32
      location:
        type: string
      operation:
        type: string
      user:
        type: string
      time-usec:
        type: string
        format: date-time
      start-time-usec:
        type: string
        format: date-time
      end-time-usec:
        type: string
        format: date-time
      elapsed-time-use:
        format: int32
      id-count:
        type: string
      snap-count:
        type: integer
        format: int32
      id-set:
        type: string
      msg-text:
        type: string
      msg-size:
        type: integer
        format: int32
      msg-encoding:
        type: string
      msg-char-set:
        type: string
      msg-mime-type:
        type: string
      msg-age:
        type: integer
        format: int32
      msg-tag:
        type: string
      parent-tracking-id:
        type: string
      snapshots:
        type: array
        items:
         $ref: '#/definitions/snapshot'
  snapshot:
    required:
      - name
      - time-usec
    properties:
      parent-id:
        type: string
      fqn:
        type: string
      category:
        type: string
      name:
        type: string
      count:
        type: integer
        format: int32
      time-usec:
        type: string
        format: date-time
      severity:
        type: string
      severity-no:
        type: integer
        format: int32
      type:
        type: string
      type-no:
        type: integer
        format: int32
      track-id:
        type: string
      source:
        type: string
      source-fqn:
        type: string
      source-info:
        type: string
      source-url:
        type: string
      properties:
        type: array
        items:
          $ref: '#/definitions/property'
  property:
    required:
      - name
      - type
      - value
    properties:
      name:
        type: string
      type:
        type: string
      value:
        type: string
      value-type:
        type: string



  errorModel:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
